.container{
  margin-top: 20px;
}

.fa-user {
  margin-top: 3px;
}

ul {
  margin-top: 10px;
  padding:0;
  list-style-type: none;
}

.tab-people {
  background: #1fb6d3;
  border-top-left-radius: 3px;
  border-right: 1px solid rgba(0, 0, 0, .1);
  height: 35px;
}

.tab-people span {
  position: relative;
  top: 5px;
}

.tab-chat {
  background: #1fb6d3;
  border-top-right-radius: 3px;
  height: 35px;
}

.tab-chat span {
  position: relative;
  left : 5px;
}

.chat-body {
  height: 500px;
  /*background: #969696;*/
  border-right: 1px solid rgba(0, 0, 0, .1);
  overflow: scroll;
  overflow-x: hidden;
}

#message-container li {
  color: white;
  font-size: 20px;
  background-color: #828893;
  border-radius: 3px;
  padding-left: 5px;
  margin-bottom: 5px;
}

.chat-sidebar {
  height: 540px;
  /*background: #808080;*/
  border-bottom-left-radius: 3px;
  border: 1px solid rgba(0, 0, 0, .1);
  border-right: 1px solid rgba(0, 0, 0, .1);
}

.chat-sidebar li {
  margin-bottom: 2px;
  font-size: 20px;
}

.chat-box {
  /*background: #909090;*/
  height: 40px;
  border-bottom-right-radius: 3px;
  border: 1px solid  rgba(0, 0, 0, .1);
  border-left: 0px;
}

.chat-box form {
  margin-top: 4px;
}

.chat-box form input {
  height: 30px;
}

.chat-box form button,
.chat-box form button:hover,
.chat-box form button:hover {
  background-color: #64d2e8 !important;
  margin-left: -5px;
  height: 30px;
  width: 50px;
}

