/*
  COLOR PALETTE:
  Dark primary color: #303F9F
  Primary color: #3F51B5
  Light primary color: #C5CAE9
  Text/Icons: #FFFFFF
  Accent color: #607D8B
  Primary text: #212121
  Secondary text: #757575
  Divider Color: #BDBDBD
*/

body {
  background-color: #BDBDBD;
}

.container {
  padding-top: 10px;
}

.weatherCard {
  margin: 0 auto;
  margin-bottom: 10px;
  min-height: 350px;
  max-width: 40%;
  background-color: #FFFFFF;
  border-radius: 2px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card-top {
  background-color:#303F9F;
  border-radius: 2px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  box-shadow: 0 4px 15px -4px gray;
}

.city-name {
  display: inline-block;
  padding-left: 10px;
  margin-top: 10px;
  color: #FFFFFF;
}

.country-code {
  display: inline-block;
  color: #757575;
}

.temperature {
  font-size: 50px;
}

.description {
  margin-top: -10px;
  color: #9E9E9E;
}

.icon {
  margin: 0 auto;
  max-height: 64px;
  max-width: 64px;
}

.settings-icon {
  height: 32px;
  width: 32px;
  margin-top: 15px;
  cursor: pointer;
  float: left;
  float: right;
  margin-right: 10px;
}

.settings-icon:active {
  background-color: white;
}

.additional-info {
  margin-top: 35px;
  margin-left: 10px;
}

.temperature-settings {
  text-align: right;
}

.temperature-settings button {
  margin-bottom: 10px;
  margin-right: 10px;
}

.btn:focus,.btn:active {
   outline: none;
}

.weather-card-material {
  margin: 0 auto;
  max-width: 500px;
  margin-bottom: 15px;
}

.card-top-material {
  background-color:#303F9F;
}

.country-code-material {
  color: #757575;
  padding-left: 5px;
  padding-top: 10px;
}

 .additional-info-material {
   padding-left: 5px;
}

#autocomplete {
  margin: 0 auto;
  max-width: 500px;
}