@import '../helpers/module';

.wiki-article {
  margin-top: 20px;
}

.wiki-article a {
  color: inherit;

  &:hover {
    text-decoration: none;
  }
}

.wiki-article li {
  background-color: #FFF;
  // background: #F0F3F5;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;

  &:hover {
    border-left: 4px solid #59B68C;
    cursor: pointer;
  }
}

